{% extends "::base.html.twig" %}

{% block title %} Рестораны {% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container container-fluid">
            <form class="navbar-form navbar-right" action="{{ path('app_basic_search') }}" method="post" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="data" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}"> All Places </a></li>
                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_registration_register') }}"> Registration </a></li>
                    <li><a href="{{ path('fos_user_security_login') }}"> Authorisation </a></li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_basic_newrestaurant') }}">Add new place</a></li>
                    <li><a href="/logout"> Logout </a></li>
                {% endif %}
            </ul>
        </div>

    </nav>
    {% block content %} {% endblock %}
{% endblock %}