{% extends 'AppBundle::main.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-lg-8">
            <h1>{{ restaurant.name }}</h1>
            <p>{{ restaurant.category }}</p>
            <p>{{ restaurant.description }}</p>
        </div>
        <div class="col-lg-4">
            <img height="250" width="250" class="img-responsive"
                 src="{{ vich_uploader_asset(restaurant, 'imageFile') }}">
        </div>

        <h2>Galery</h2>

        {% for image in images %}
            <div style="display: inline-block">
                <img height="100" width="100" class="img-responsive"
                     src="{{ vich_uploader_asset(image, 'imageFile') }}">
            </div>
        {% endfor %}

        <div><h2>Reviews</h2>

            {% for comment in comments %}
                <div>
                    {% if is_granted('ROLE_USER') %}
                    {{ form_start(deleteComment[comment.id]) }}
                    {{ form_widget(deleteComment[comment.id].delete, {'attr': {'class': 'btn btn-sm btn-danger'}}) }}
                    {{ form_end(deleteComment[comment.id]) }}
                    {% endif %}
                    <p>On {{ comment.publishDate|date('d.m.y') }}, {{ comment.user }} said</p>
                    <p>{{ comment.comment }}</p>
                    <p>Quality of food: {{ comment.qualityOfFood }}</p>
                    <p>Service quality: {{ comment.serviceQuality }}</p>
                    <p>Interior: {{ comment.interior }}</p>
                </div>
            {% endfor %}
        </div>
        {% if is_granted('ROLE_USER') %}
            {% if comment_form is not empty %}
                {{ form(comment_form) }}
            {% endif %}
            <hr>
            {{ form(image_form) }}
        {% endif %}
    </div>
{% endblock %}


