{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}

{% block content %}
    <div class="container">
        <h1>All places</h1>
        {% for restaurant in restaurants %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{ path('app_basic_detail', {'id' : restaurant.id}) }}"><img height="200" width="200" class="img-responsive" src="{{ vich_uploader_asset(restaurant, 'imageFile') }}"></a>
                <a href="{{ path('app_basic_detail', {'id' : restaurant.id}) }}">{{ restaurant.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
