{% extends 'AppBundle::main.html.twig' %}

{% block content %}
    <div class="container">
        <div class="container">
            <h1>Add new place</h1>

            {{ form_start(form) }}
            <div class="col-lg-6 add_place">
                Title
            </div>
            <div class="col-lg-6 add_place">
                {{ form_widget(form.name) }}
            </div>
            <div class="col-lg-6 add_place">
                Category
            </div>
            <div class="col-lg-6 add_place">
                {{ form_widget(form.category) }}
            </div>
            <div class="col-lg-6 add_place">
                Description
            </div>
            <div class="col-lg-6 add_place">
                {{ form_widget(form.description) }}
            </div>
            <div class="col-lg-6 add_place">
                Main photo
            </div>
            <div class="col-lg-6 add_place">
                {{ form_widget(form.imageFile) }}
            </div>
            <div class="col-lg-6 add_place">
                <p>
                    By submitting this form, you agree that the following information will be submitted to the public
                    domain, and administrators of this site will have full control over the said information
                </p>
            </div>
            <div class="col-lg-6 add_place">
                <input type="checkbox" required> I understand
            </div>

            <div class="col-lg-6 add_place">
                {{ form_widget(form.save) }}
            </div>

            {{ form_end(form) }}
        </div>
{% endblock %}


