{% extends 'AppBundle::main.html.twig' %}

{% block content %}

    <div class="container">
        <h1>Результаты поиска</h1>
        {% for restaurant in restaurants %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="{{ path('app_basic_detail', {'id':restaurant.id}) }}"><img src="{{ vich_uploader_asset(restaurant, 'imageFile') }}" class="img-responsive" >
                    <div>{{ restaurant.name }}</div></a>
            </div>
        {% endfor %}

    </div>

{% endblock %}


