.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 100px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.add_place {
    margin-bottom: 10px;
    margin-top: 10px;
}